<h1>Weather Wedgie</h1>
<%= form_for :weather, url: wungine.weather_show_path do |f| %>
    <p>
      <%= f.label :zip %><br>
      <%= f.text_field :zip %>
    </p>
    <p>
      <%= f.submit("Get Weather") %>
    </p>
<% end %>