<!DOCTYPE html>
<html>
<head>
  <title>Wungine</title>
  <%= stylesheet_link_tag    "wungine/application", media: "all" %>
  <%= javascript_include_tag "wungine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
